@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
    font-family: "Quattrocento Sans";
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}
code{
    color: darkred;
    background-color: lightgray;
    padding: 2px;
}
.sublesson{
    border-color: black;
    border-width: .75px;
    border-style: solid;
    margin-top: 2px;
}
h3{
    font-family: "Karla";
}